<?xml version="1.0"?>
<launch>

    <param name="/use_sim_time" value="true"/>

    <node pkg="ultrasound_lsc" type="sonar_to_scan" name="sonar_to_scan_node" output="screen" >
        <rosparam command="load" file="$(find ultrasound_lsc)/config/sim_model.yaml" />
    </node>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
      <remap from="cloud_in" to="rslidar_points"/>
      <rosparam>
        scan_time: 0.033
        angle_min: -2.0
        angle_max: 2.0
        range_min: 0.65
        range_max: 200.0
        min_height: -0.3
        max_height: 0.5
      </rosparam>
    </node>

</launch>
